button{
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1rem;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hands{
    margin-top: 2rem;
}
#result{
    font-size: 1.5rem;
    text-align: center;
}
#playerScore{
    text-align: center;
}

.playerHand {
    transform: scaleX(-1) rotate(270deg);
    width: fit-content;
    font-size: 5rem;
}

.comHand {
    transform: rotate(270deg);
    width: fit-content;
    font-size: 5rem
}

.label{
    transform:rotate(90deg);
    font-size: 2rem;
    position: absolute;
    left: 5.1rem;
    top: 2rem;
}

#endGameButton{
}